:root {
    --color-white: #fff;
    --color-gray: #eee;
    --color-gray-dark: #ccc;
    --color-gray-dark-1: #777;
    --color-gray-dark-2: #424242;
    --color-black: #000;
    --color-black-light: #222;
}